In [2]:
from Euclidean_Benchmark import calculate_distances, calculate_halflife, parse_pair

In [3]:
import pandas as pd
import numpy as np
import yfinance as yf
import statsmodels.api as sm

In [4]:
ticker_list = ["AAL", "AAP", "AAPL", "GLD", "GOOG", "TSLA", "GDX"]

In [5]:
data = np.log(yf.download(ticker_list, period="10y", interval="1d")["Adj Close"])
data

[*********************100%***********************]  7 of 7 completed

,AAL,AAP,AAPL,GDX,GLD,GOOG,TSLA
Date,,,,,,,
2013-02-25,2.507523,4.289821,2.614362,3.565445,5.039158,2.980386,0.829425
2013-02-26,2.525789,4.274259,2.628200,3.577813,5.051265,2.979577,0.830878
2013-02-27,2.537038,4.276201,2.618352,3.557375,5.040647,2.991716,0.850151
2013-02-28,2.538528,4.263704,2.611196,3.534641,5.030438,2.993490,0.842429
2013-03-01,2.551842,4.264098,2.586122,3.526856,5.026771,2.999699,0.837247
...,...,...,...,...,...,...,...
2023-02-17,2.794839,5.010569,5.027492,3.346741,5.143183,4.549552,5.339027
2023-02-21,2.753024,4.971132,5.000450,3.336125,5.139439,4.522332,5.285080
2023-02-22,2.744704,4.967171,5.003342,3.312366,5.133796,4.519612,5.302608
2023-02-23,2.764431,4.955897,5.006627,3.307253,5.133266,4.511628,5.308614
2023-02-24,2.740195,4.930293,4.984736,3.294540,5.125986,4.490657,5.278676

In [6]:
train_data = data.iloc[0:2218,]
test_data = data.iloc[2218:2519,]

In [7]:
distance_df = pd.DataFrame(data=calculate_distances(train_data).values(), index=calculate_distances(train_data).keys(), columns=["Euclidean Distance"])
distance_df

           Euclidean Distance
AAP-GLD             12.776411
AAPL-GOOG           13.936050
AAPL-TSLA           31.753799
AAL-GDX             32.600531
AAPL-GDX            36.521867
GDX-GOOG            38.408594
AAL-GOOG            41.355722
GOOG-TSLA           42.401591
GDX-TSLA            43.444820
AAL-AAPL            45.731157
GLD-GOOG            52.506205
AAP-GOOG            52.955746
AAL-TSLA            61.263693
AAPL-GLD            63.134421
AAP-AAPL            63.491192
AAL-AAP             73.730967
AAL-GLD             74.404218
GDX-GLD             81.739217
AAP-GDX             83.758527
GLD-TSLA            89.779928
AAP-TSLA            89.995450

In [8]:
distance_df["Euclidean Distance"].index[0:3].to_list()

['AAP-GLD', 'AAPL-GOOG', 'AAPL-TSLA']

In [9]:
def ticker_n_smallest_distance(data, n=3):
    distance_df = pd.DataFrame(data=calculate_distances(data).values(), index=calculate_distances(data).keys(), columns=["Euclidean Distance"])
    ticker_list = distance_df["Euclidean Distance"].index[0:n].to_list()
    return {count+1:parse_pair(pair) for count, pair in enumerate(ticker_list)}

In [10]:
ticker_dict = ticker_n_smallest_distance(train_data, n=3)
ticker_dict

{1: ('AAP', 'GLD'), 2: ('AAPL', 'GOOG'), 3: ('AAPL', 'TSLA')}

In [13]:
def demean_and_cal_spread(log_prices):
    spread_df = pd.DataFrame(index=log_prices.index)
    s1 = log_prices.columns[0]
    s2 = log_prices.columns[1]
    log_prices[s1] = log_prices[s1] - log_prices[s1].mean()
    log_prices[s2] = log_prices[s2] - log_prices[s2].mean()
    spread_df[f'{s1}-{s2}'] = log_prices[s1] - log_prices[s2]
    return spread_df

In [15]:
selected_pair_data = pd.DataFrame(index=train_data.index)
for value in ticker_dict.values():
    selected_pair_data[f'{value[0]}-{value[1]}'] = demean_and_cal_spread(train_data[list(value)])
selected_pair_data

C:\Users\HP\AppData\Local\Temp\ipykernel_10308\1361717262.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  log_prices[s1] = log_prices[s1] - log_prices[s1].mean()
C:\Users\HP\AppData\Local\Temp\ipykernel_10308\1361717262.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  log_prices[s2] = log_prices[s2] - log_prices[s2].mean()
C:\Users\HP\AppData\Local\Temp\ipykernel_10308\1361717262.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  log_prices[s1] = log_prices[s1] - log_prices[s1].mean()
C:\Users\HP\AppData\Local\Temp\ipykernel_10308\1361717262.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  log_prices[s2] = log_prices[s2] - log_prices[s2].mean()
C:\Users\HP\AppData\Local\Temp\ipykernel_10308\1361717262.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  log_prices[s1] = log_prices[s1] - log_prices[s1].mean()
C:\Users\HP\AppData\Local\Temp\ipykernel_10308\1361717262.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  log_prices[s2] = log_prices[s2] - log_prices[s2].mean()

             AAP-GLD  AAPL-GOOG  AAPL-TSLA
Date
2013-02-25 -0.761250  -0.191198   1.335606
2013-02-26 -0.788919  -0.176551   1.347991
2013-02-27 -0.776358  -0.198538   1.318869
2013-02-28 -0.778646  -0.207468   1.319435
2013-03-01 -0.774586  -0.238751   1.299542
...              ...        ...        ...
2021-12-07  0.291044   0.312770  -1.173527
2021-12-08  0.286581   0.330687  -1.167231
2021-12-09  0.295229   0.331854  -1.107312
2021-12-10  0.313857   0.355647  -1.092777
2021-12-13  0.286367   0.348098  -1.062615

[2218 rows x 3 columns]