In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import statsmodels.api as sm

In [2]:
ticker_list = ["AAL", "AAP", "AAPL", "GLD"]

In [3]:
data = np.log(yf.download(ticker_list, period="5y", interval="1d")["Adj Close"])
data

[*********************100%***********************]  4 of 4 completed

                 AAL       AAP      AAPL       GLD
Date
2018-02-26  3.983594  4.681849  3.753120  4.839847
2018-02-27  3.970048  4.636883  3.749874  4.829353
2018-02-28  3.969864  4.676612  3.748360  4.828314
2018-03-01  3.955569  4.704746  3.730688  4.826071
2018-03-02  3.949943  4.692416  3.737579  4.831429
...              ...       ...       ...       ...
2023-02-16  2.796671  5.011901  5.035068  5.140200
2023-02-17  2.794839  5.010569  5.027492  5.143183
2023-02-21  2.753024  4.971132  5.000450  5.139439
2023-02-22  2.744704  4.967171  5.003342  5.133796
2023-02-23  2.764431  4.955897  5.006627  5.133266

[1258 rows x 4 columns]

In [5]:
from Cointegration_coeeficient_tests import johansen_test

In [7]:
johansen_test(data, alpha=0.01)

{'AAL': 4.439908854469116,
 'AAP': 1.1320375387554453,
 'AAPL': 0.6485894285490077,
 'GLD': -0.15064681347844378}